{% extends "layout.html" %}
{% block title %}Books{% endblock %}
{% block head %}
{{ super() }}

{% endblock %}
{% block content %}
<div class="jumbotron jumbotron-fluid p-t-80">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="card mb-3">
                    <img src="{{url_for('static', filename='img/moonlight.jpg')}}" class="card-img-top bookshelf"
                        alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ warning }}</h5>
                        <h5 class="card-title">{{ book.title }}</h5>
                        <p class="card-text">{{ book.author }}</p>
                        <p class="card-text">Published Year: {{ book. year }}</p>
                        <p class="card-text">ISBN: {{ book.isbn }}</p>
                        <p class="card-text">Goodreads Review - Average Rating: {{ rating }}</p>
                        <p class="card-text">Goodreads Review - Total Ratings:  {{ ratings }}</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        Reviews
                    </div>
                    <ul class="list-group list-group-flush">
                        {% if reviews %}
                        {% for review in reviews %}
                        <li class="list-group-item">
                            <blockquote class="blockquote mb-0">
                                <footer class="blockquote-footer"> {{ review.user_id }}'s Rating: <cite title="Source Title">
                                        {{ review.ratings }} stars</cite></footer>
                                <p> {{ review.review }}
                                </p>
                            </blockquote>
                        </li>
                        {% endfor %}
                        {% else %}
                        <li class="list-group-item">
                            <p>No reviews posted.</p>
                        </li>
                        {% endif %}
                    </ul>
                </div>

            </div>
            <div class="col-sm-6">
                <div class="card bg-dark text-white">
                    <img src="{{url_for('static', filename='img/book1.jpg')}}" class="bookshelf" alt="bookshelf image"
                        align="middle" />

                    <div class="card-img-overlay">
                        <h5 class="card-title">Book Review API</h5>
                        <blockquote class="card-text">“Good friends, good books, and a sleepy conscience: this is the
                            ideal life.”
                        </blockquote>
                        <strong class="card-text">― Mark Twain</strong>
                    </div>
                </div>
                <div class="card m-t-10">
                    <h5 class="card-header">Write a Review</h5>
                    <h5 class="card-header"> {{ message }} </h5>
                    <h5 class="card-header"> {{ info }} </h5>
                    <div class="card-body">
                        <form method="POST">
                            <div class="form-inline">
                                <label class="card-title my-1 mr-2" for="inlineFormCustomSelectPref">
                                    <h5> What's your rating: </h5>
                                </label>
                                <select name="ratings" class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
                                    <option selected>Choose...</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                    <option value="3">Four</option>
                                    <option value="3">Five</option>
                                </select>
                            </div>
                            <h5 class="card-title">Feedback</h5>
                            <div class="mb-3 was-validated">
                                <label for="validationTextarea">Write a review about {{ book.title }}</label>
                                <textarea name="review" class="form-control is-invalid" id="validationTextarea"
                                    placeholder="Required* " required></textarea>
                                <div class="invalid-feedback">
                                    Please enter a review in the textarea.
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary">Post Review</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}