{% extends "layout.html" %}
{% block title %}Books{% endblock %}
{% block head %}
{{ super() }}

{% endblock %}
{% block content %}
<div class="jumbotron jumbotron-fluid p-t-80">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Search</h5>
                        <form action="{{url_for('home')}}" method="POST">
                            <div class="form-row">
                                <div class="col-9 p-10">
                                    <input name="query" type="text" class="form-control form-control-sm"
                                        placeholder="Search by Book Title, Author, or ISBN">
                                </div>
                                <div class="col p-10">
                                    <button type="submit" class="btn btn-primary mb-2 btn-sm">Search</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="card m-t-10">
                    <div class="card-body">
                        <h5 class="card-title">Search Result</h5>
                        <p class="card-text">Books matching {{ query }}.</p>
                        {% if books %}
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">ISBN</th>
                                        <th scope="col">Title</th>
                                        <th scope="col">Author</th>
                                        <th scope="col">Year</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for book in books %}
                                    <tr>
                                        <th scope="row"><a href="{{ url_for('book', isbn=book.isbn)}}">
                                                {{ book.isbn }} </a></th>
                                        <td>{{ book.title }}</td>
                                        <td>{{ book.author }}</td>
                                        <td>{{ book.year }} </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        {% else %}
                        <p class="card-text">Oops. We can not find books matching {{ query }}</p>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card bg-dark text-white">
                    <img src="{{url_for('static', filename='img/book1.jpg')}}" class="bookshelf" alt="bookshelf image"
                        align="middle" />

                    <div class="card-img-overlay">
                        <h5 class="card-title">Book Review API</h5>
                        <blockquote class="card-text">“Good friends, good books, and a sleepy conscience: this is the
                            ideal life.”
                        </blockquote>
                        <strong class="card-text">― Mark Twain</strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}