{% extends "layout.html" %}
{% block title %}Books{% endblock %}
{% block head %}
{{ super() }}

{% endblock %}
{% block content %}
<div class="jumbotron jumbotron-fluid p-t-80">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Search</h5>
                        <form>
                            <div class="form-row">
                                <div class="col-9 p-10">
                                    <input type="text" class="form-control form-control-sm"
                                        placeholder="Search by Book Title, Author, or ISBN">
                                </div>
                                <div class="col p-10">
                                    <button type="submit" class="btn btn-primary mb-2 btn-sm">Search</button>
                                </div>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="title">
                                <label class="form-check-label" for="inlineCheckbox1">Title</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="author">
                                <label class="form-check-label" for="inlineCheckbox2">Author</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="year">
                                <label class="form-check-label" for="inlineCheckbox3">Year</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="isbn">
                                <label class="form-check-label" for="inlineCheckbox3">ISBN</label>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="card m-t-10">
                    <div class="card-body">
                        <h5 class="card-title">Search Result</h5>
                        <p class="card-text">Books matching "game of thrones".</p>
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">Title</th>
                                    <th scope="col">Author</th>
                                    <th scope="col">Year</th>
                                    <th scope="col">ISBN</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>@mdo</td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>Jacob</td>
                                    <td>Thornton</td>
                                    <td>@fat</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td colspan="2">Larry the Bird</td>
                                    <td>@twitter</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card bg-dark text-white">
                    <img src="{{url_for('static', filename='img/book1.jpg')}}" class="bookshelf" alt="bookshelf image"
                        align="middle" />

                    <div class="card-img-overlay">
                        <h5 class="card-title">Book Review API</h5>
                        <blockquote class="card-text">“Good friends, good books, and a sleepy conscience: this is the
                            ideal life.”
                        </blockquote>
                        <strong class="card-text">― Mark Twain</strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}