<!DOCTYPE html>
<html lang="en">
<!-- Begin Head -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>{% block title %}{% endblock %} - Book Review API</title>
    {% endblock %}
</head>

<body class="bootstrap">
    <!-- Top Navbar -->
    {% block heading %}
    <div>
        <h1>navbar</h1>
    </div>
    {% endblock %}

    <!-- Main Content -->
    <div id="content">{% block content %}{% endblock %}</div>

    <!-- Footer -->
    {% block footer %}
    <div id="footer">
        &copy; Copyright 2010 by <a href="http://domain.invalid/">Emmanuel Michira</a>.
    </div>
    {% endblock %}

</body>
</html>