html,
body {
  height: 100%;
}

.p-10 {
  padding: 3px;
}

.p-t-80 {
  padding-top: 80px;
}

.m-t-10 {
  margin-top: 10px;
}

.m-b-10 {
  margin-bottom: 10px;
}

#content {
  flex: 1 0 auto;
}

.bookshelf {
  height: 200px;
}
#sticky-footer {
  flex-shrink: none;
}